/* CSS */

html, body {
  height: 100%;
}

body {
    background-color: #00012e;
    color: azure;
    margin: 0;
    display: flex;
    
    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}

/* sqLink on first page */
#sqLink {
    margin-top: -17em;
    margin-left: 20em;
    display: block;
    width: 8em;
    height: 8em;
    position: absolute;
    float: none;
}

#letterD {
  background-color: #fdcb32;
}

#letterD h1 {
  color: #000000;
  font-family: Courier;
  position: fixed;
  float: right;
  bottom: 0;
  right: 1em;
  max-width: 20%;
  height: auto;
}
