/* CSS */

html, body {
  height: 100%;
}

body {
    background-color: #00012e;
    color: azure;
    margin: 0;
    display: flex;
    
    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}

#sqLink {
    margin-top: -17em;
    margin-left: -14em;
    display: block;
    width: 8em;
    height: 8em;
    float: none;
}
